<h4>Team 1</h4>
<div class="d-f">
  <div class="flex-50 mr-12 fc-w-100">
    {{#paper-select
      placeholder="Player 1"
      options=players
      selected=team1Player1
      onChange=(action updatePlayer 'team1Player1')
      as |player|
    }}
      {{player.name}}
    {{/paper-select}}
  </div>

  <div class="flex-50 fc-w-100">
    {{#paper-select
      placeholder="Player 2"
      selected=team1Player2
      options=players
      onChange=(action updatePlayer 'team1Player2')
      as |player|
    }}
      {{player.name}}
    {{/paper-select}}
  </div>
</div>

<h4>Team 2</h4>
<div class="d-f">
  <div class="flex-50 mr-12 fc-w-100">
    {{#paper-select
      placeholder="Player 1"
      selected=team2Player1
      options=players
      onChange=(action updatePlayer 'team2Player1')
      as |player|
    }}
      {{player.name}}
    {{/paper-select}}
  </div>
  <div class="flex-50 fc-w-100">
    {{#paper-select
      placeholder="Player 2"
      options=players
      selected=team2Player2
      onChange=(action updatePlayer 'team2Player2')
      as |player|
    }}
      {{player.name}}
    {{/paper-select}}
  </div>
</div>

<h4>Previous Records</h4>
{{#if gamesAgainst.isPending}}
  {{paper-progress-circular}}
{{else}}
  <div class="md-text-items">
    {{#if gamesAgainst.content.length}}
      <p>{{mostRecent.winningTeam.player1.displayName}} & {{mostRecent.winningTeam.player2.displayName}} won {{mostRecent.winningTeamWins}} - {{mostRecent.losingTeamWins}}</p>
      <small><i>{{moment-format mostRecent.time "MMM. Do, YYYY @ h:mm a"}}</i></small>
    {{else}}
      {{#if (and team1Player1 team1Player2 team2Player1 team2Player2)}}
        <p>New matchup!</p>
      {{/if}}
    {{/if}}
  </div>
{{/if}}
