{{#paper-card class="login-route bc-white w-100" as |card|}}
  {{#if session.isAuthenticated}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}You're already logged in!{{/text.headline}}
        {{#paper-button href=(href-to 'logout')}}Logout{{/paper-button}}
      {{/title.text}}
    {{/card.title}}
  {{else}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline class='c-primary'}}Log in to Foursball{{/text.headline}}
      {{/title.text}}
    {{/card.title}}
    {{#card.content}}
      <div class="{{if media.isMobile 'layout-column ai-c' 'layout-row'}} jc-c">
        <img
          class='login-provider'
          title='Twitter'
          onclick={{route-action 'login' 'twitter'}}
          src='/login-providers/Twitter_Logo_Blue.png'>

        <img
          class='login-provider p-16'
          title='Github'
          onclick={{route-action 'login' 'github'}}
          src='/login-providers/Github_Logo.png'>

        <img
          class='login-provider p-8'
          title='Google'
          onclick={{route-action 'login' 'google'}}
          src='/login-providers/Google_Logo.png'>
      </div>
    {{/card.content}}
  {{/if}}
  {{#card.actions}}
    {{#paper-button href=(href-to 'about')}}About{{/paper-button}}
  {{/card.actions}}
{{/paper-card}}
