{{#paper-content class="md-padding"}}
  {{#paper-card}}
    {{#paper-card-content}}
      <h4>Team 1</h4>
      {{#paper-menu as |menu|}}
        {{#paper-button target=menu action="toggleMenu" icon-button=true}}
            {{paper-icon class="md-menu-origin" icon="accessibility"}}
        {{/paper-button}}
      {{else}}
        {{#each players as |player|}}
          {{#paper-menu-item action="team1Player1" param=player}}
            {{paper-icon icon="add-box" class="md-menu-align-target"}}
            <span>{{player.name}}</span>
          {{/paper-menu-item}}
        {{/each}}
      {{/paper-menu}}
      {{team1Player1.name}}

      {{#paper-menu as |menu|}}
        {{#paper-button target=menu action="toggleMenu" icon-button=true}}
            {{paper-icon class="md-menu-origin" icon="accessibility"}}
        {{/paper-button}}
      {{else}}
        {{#each players as |player|}}
          {{#paper-menu-item action="team1Player2" param=player}}
            {{paper-icon icon="add-box" class="md-menu-align-target"}}
            <span>{{player.name}}</span>
          {{/paper-menu-item}}
        {{/each}}
      {{/paper-menu}}
      {{team1Player2.name}}

      <h4>Team 2</h4>
      {{#paper-menu as |menu|}}
        {{#paper-button target=menu action="toggleMenu" icon-button=true}}
            {{paper-icon class="md-menu-origin" icon="accessibility"}}
        {{/paper-button}}
      {{else}}
        {{#each players as |player|}}
          {{#paper-menu-item action="team2Player1" param=player}}
            {{paper-icon icon="add-box" class="md-menu-align-target"}}
            <span>{{player.name}}</span>
          {{/paper-menu-item}}
        {{/each}}
      {{/paper-menu}}
      {{team2Player1.name}}

      {{#paper-menu as |menu|}}
        {{#paper-button target=menu action="toggleMenu" icon-button=true}}
            {{paper-icon class="md-menu-origin" icon="accessibility"}}
        {{/paper-button}}
      {{else}}
        {{#each players as |player|}}
          {{#paper-menu-item action="team2Player2" param=player}}
            {{paper-icon icon="add-box" class="md-menu-align-target"}}
            <span>{{player.name}}</span>
          {{/paper-menu-item}}
        {{/each}}
      {{/paper-menu}}
      {{team2Player2.name}}

      <div class="md-actions" layout="row" layout-align="end center">
        {{#paper-button action="cancelGame" param=model}}Cancel{{/paper-button}}
        {{#paper-button raised=true primary=true param=model action="startGame" disabled=cannotStart}}Start{{/paper-button}}
      </div>
    {{/paper-card-content}}
  {{/paper-card}}
{{/paper-content}}
