{{#current-user
  foosballers=foosballers
  as |user|}}
  <vbox md="4">
    {{partial 'foosballer/profile-card'}}

    {{partial 'trends'}}

    {{partial 'footer-links'}}
  </vbox>

  <vbox md="8">
    {{#paper-card class="bc-white teams-top-10" as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Top 10 performing teams{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        <p>
          Coming soon!
        </p>
      {{/card.content}}
    {{/paper-card}}

    {{#paper-card as |card|}}
      {{#card.content class='o-a'}}
        <div class="bc-white teams-team">
          {{#link-to 'teams' (query-params allTeams=true) class="tab"}}All Teams{{/link-to}}
          {{#link-to 'teams' (query-params allTeams=false) class="tab"}}My Teams{{/link-to}}
        </div>

        <box class="bc-white pr-16 teams-team">
          <hbox justify="between" class="pt-16 no-scroll {{if isAsc 'sort-asc' 'sort-desc'}}">
            <div onclick={{action 'sortBy' 'rank'}} class="pr-8 rank pointer sortable {{if isSortRank 'sorted'}}">Rank</div>
            <div class="name">Foosers</div>
            <div onclick={{action 'sortBy' 'wins'}} class="w-l pr-16 pointer sortable {{if isSortWins 'sorted'}}">Wins : Losses</div>
            <div onclick={{action 'sortBy' 'winLossRatio'}} class="ratio pr-16 pointer sortable {{if isSortWinLossRatio 'sorted'}}">Win/Loss Ratio</div>
            <div onclick={{action 'sortBy' 'winPercentage'}} class="percentage pointer sortable {{if isSortWinPercentage 'sorted'}}">Win %</div>
          </hbox>
        </box>
        {{#teams-sorter
          tagName=""
          teams=model
          sortAscending=sortAscending
          sortBy=sortBy
          as |sortedDecoratedTeams|}}
          {{#each sortedDecoratedTeams as |decoratedTeam index|}}
            {{#if allTeams}}
              {{partial 'team'}}
            {{else}}
              {{#if (or
                (eq user.currentPlayer.id decoratedTeam.team.player1.id)
                (eq user.currentPlayer.id decoratedTeam.team.player2.id)
              )}}
                {{partial 'team'}}
              {{/if}}
            {{/if}}
          {{/each}}
        {{/teams-sorter}}
      {{/card.content}}
    {{/paper-card}}
  </vbox>
{{/current-user}}
