{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-sidenav-toggle as |toggle|}}
      {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon icon="menu"}}{{/paper-button}}
    {{/paper-sidenav-toggle}}
    <span class="md-breadcrumb-page">Teams</span>
  </div>
{{/paper-toolbar}}

{{#paper-content}}
  {{#paper-button icon-button=true action="sortBy" param="winLossRatio" class=isSortWinLossRatio}}W/L{{/paper-button}}
  {{#paper-button icon-button=true action="sortBy" param="winPercentage" class=isSortWinPercentage}}%{{/paper-button}}
  {{#paper-button icon-button=true action="sortDown" class=isDesc}}{{paper-icon icon="arrow-drop-down"}}{{/paper-button}}
  {{#paper-button icon-button=true action="sortUp" class=isAsc}}{{paper-icon icon="arrow-drop-up"}}{{/paper-button}}
{{/paper-content}}
{{#paper-content class="md-padding"}}
  {{#paper-content class="md-whiteframe-z1 list-demo"}}
    {{#paper-list}}

      {{#teams-sorter
        teams=model
        sortAscending=sortAscending
        sortBy=sortBy
        as |sortedDecoratedTeams|}}

        {{#each sortedDecoratedTeams as |decoratedTeam index|}}
          {{#index-plus-one index=index as |rank|}}
            {{#paper-item param=decoratedTeam.team action="expandTeam"}}
              {{team-display decoratedTeam=decoratedTeam expandedId=expandedId rank=rank}}
            {{/paper-item}}
          {{/index-plus-one}}
          {{paper-divider}}
        {{/each}}

      {{/teams-sorter}}

    {{/paper-list}}
  {{/paper-content}}
{{/paper-content}}
