{{#current-user
  foosballers=foosballers
  as |user|}}

  {{dialogs-wrapper
    currentUser=user.currentPlayer
  }}

  <div class="layout-column d-f fd-c flex-33 flex-xs-100 flex-sm-100">
    {{partial 'foosballer/profile-card'}}

    {{#unless (or media.isMobile media.isTablet)}}
      {{partial 'trends'}}
      {{partial 'footer-links'}}
    {{/unless}}
  </div>

  <div class="d-f fd-c flex-66 flex-xs-100 flex-sm-100">
    {{#paper-card class="bc-white teams-top-10" as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Top 10 performing teams{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        <p>
          Coming soon!
        </p>
      {{/card.content}}
    {{/paper-card}}

    {{#paper-card as |card|}}
      {{#card.content class='o-a'}}
        <div class="bc-white teams-team">
          {{#link-to 'teams' (query-params allTeams=true) class="tab"}}All Teams{{/link-to}}
          {{#link-to 'teams' (query-params allTeams=false) class="tab"}}My Teams{{/link-to}}
        </div>

        <div class="bc-white pr-16 teams-team">
          <div class="d-f jc-sb pt-16 no-scroll {{if isAsc 'sort-asc' 'sort-desc'}}">
            <div onclick={{action 'sortBy' 'rank'}} class="pr-8 {{unless media.isMobile 'rank'}} pointer sortable {{if isSortRank 'sorted'}}">Rank</div>
            <div class="{{unless media.isMobile 'name'}}">Foosers</div>
            {{#unless media.isMobile}}
              <div onclick={{action 'sortBy' 'wins'}} class="w-l pr-16 pointer sortable {{if isSortWins 'sorted'}}">Wins : Losses</div>
              <div onclick={{action 'sortBy' 'winLossRatio'}} class="{{unless media.isMobile 'ratio'}} pr-16 pointer sortable {{if isSortWinLossRatio 'sorted'}}">Win/Loss Ratio</div>
            {{/unless}}
            <div onclick={{action 'sortBy' 'winPercentage'}} class="{{unless media.isMobile 'percentage'}} pointer sortable {{if isSortWinPercentage 'sorted'}}">Win %</div>
          </div>
        </div>
        {{#teams-sorter
          tagName=""
          teams=model
          sortAscending=sortAscending
          sortBy=sortBy
          as |sortedDecoratedTeams|}}
          {{#each sortedDecoratedTeams as |decoratedTeam index|}}
            {{#if allTeams}}
              {{partial 'team'}}
            {{else}}
              {{#if (or
                (eq user.currentPlayer.id decoratedTeam.team.player1.id)
                (eq user.currentPlayer.id decoratedTeam.team.player2.id)
              )}}
                {{partial 'team'}}
              {{/if}}
            {{/if}}
          {{/each}}
        {{/teams-sorter}}
      {{/card.content}}
    {{/paper-card}}
  </div>

  {{#if (or media.isMobile media.isTablet)}}
    <div class="w-100">
      {{partial 'footer-links'}}
    </div>
  {{/if}}
{{/current-user}}
