{{!--{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-sidenav-toggle as |toggle|}}
      {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon icon="menu"}}{{/paper-button}}
    {{/paper-sidenav-toggle}}
    <span class="md-breadcrumb-page">Teams</span>
  </div>
{{/paper-toolbar}}
{{#paper-content class="md-padding theme"}}
  {{#paper-button icon-button=true action="sortBy" param="winLossRatio" class=isSortWinLossRatio}}W/L{{/paper-button}}
  {{#paper-button icon-button=true action="sortBy" param="winPercentage" class=isSortWinPercentage}}%{{/paper-button}}
  {{#paper-button icon-button=true action="sortDown" class=isDesc}}{{paper-icon icon="arrow-drop-down"}}{{/paper-button}}
  {{#paper-button icon-button=true action="sortUp" class=isAsc}}{{paper-icon icon="arrow-drop-up"}}{{/paper-button}}
{{/paper-content}}
{{#paper-content class="md-padding theme"}}
  {{#paper-content class="md-whiteframe-z1 list-demo theme"}}
    {{#paper-list}}

      {{#teams-sorter
        teams=model
        sortAscending=sortAscending
        sortBy=sortBy
        as |sortedDecoratedTeams|}}

        {{#each sortedDecoratedTeams as |decoratedTeam index|}}
          {{#index-plus-one index=index as |rank|}}
            {{#paper-item param=decoratedTeam.team action="expandTeam" class="md-3-line"}}
              {{team-display decoratedTeam=decoratedTeam expandedId=expandedId rank=rank}}
            {{/paper-item}}
          {{/index-plus-one}}
          {{paper-divider class="theme"}}
        {{/each}}

      {{/teams-sorter}}

    {{/paper-list}}
  {{/paper-content}}
{{/paper-content}}
--}}
<vbox md="4" class="p-8">
  {{partial 'foosballer/profile-card'}}

  {{partial 'trends'}}

  {{partial 'footer-links'}}
</vbox>

<vbox md="8" class="p-8">
  {{#paper-card class="bc-white teams-top-10"}}
    {{#paper-card-content}}
      <h3>Top 10 performing teams</h3>
      <p>
        Coming soon!
      </p>
    {{/paper-card-content}}
  {{/paper-card}}

  <div class="bc-white pl-16 ml-8 mr-8 teams-team">
    {{#link-to 'teams' (query-params allTeams=true) class="tab"}}All Teams{{/link-to}}
    {{#link-to 'teams' (query-params allTeams=false) class="tab"}}My Teams{{/link-to}}
  </div>

  <box class="bc-white p-16 ml-8 mr-8 teams-team">
    <hbox justify="between">
      <div class="pr-8 rank">Rank</div>
      <div class="name">Foosers</div>
      <div class="w-l pr-16">Wins : Losses</div>
      <div class="ratio pr-16">Win/Loss Ratio</div>
      <div class="percentage">Win %</div>
    </hbox>
  </box>
  {{#teams-sorter
    tagName=""
    teams=filteredTeams
    sortAscending=sortAscending
    sortBy=sortBy
    as |sortedDecoratedTeams|}}
<div class="o-a">
    {{#current-user foosballers=foosballers as |currentPlayer|}}
    {{#each sortedDecoratedTeams as |decoratedTeam index|}}
      <box class="bc-white p-16 ml-8 mr-8 teams-team">
        <hbox justify="between">
          <div class="pr-8 rank">{{inc index}}</div>
          <div class="name ellipsis pr-8">
            <a class="player-name {{if (eq currentPlayer.id decoratedTeam.team.player1.id) 'c-primary'}}" href={{href-to 'foosballer' decoratedTeam.team.player1}}>
              {{decoratedTeam.team.player1.displayName}}
            </a>
            <span class="p-4">-</span>
            <a class="player-name {{if (eq currentPlayer.id decoratedTeam.team.player2.id) 'c-primary'}}" href={{href-to 'foosballer' decoratedTeam.team.player2}}>
              {{decoratedTeam.team.player2.displayName}}
            </a>
          </div>
          <div class="w-l pr-16">{{decoratedTeam.wins}} : {{decoratedTeam.losses}}</div>
          <div class="ratio pr-16">{{decoratedTeam.winLossRatio}}</div>
          <div class="percentage">{{decoratedTeam.winPercentage}}%</div>
          {{!--
        {{#index-plus-one index=index as |rank|}}
          {{#paper-item param=decoratedTeam.team action="expandTeam" class="md-3-line"}}
            {{team-display decoratedTeam=decoratedTeam expandedId=expandedId rank=rank}}
          {{/paper-item}}
        {{/index-plus-one}}
        --}}
        </hbox>
      </box>
    {{/each}}
    {{/current-user}}
</div>
  {{/teams-sorter}}
</vbox>
