{{#paper-card class="bc-white profile-card" as |card|}}

  {{#foosballers-sorter
    as |sortedDecoratedFoosballers|}}
    {{#each sortedDecoratedFoosballers as |f|}}
      {{#if (eq f.foosballer.id user.currentPlayer.id)}}
        {{#foosballer-display decoratedFoosballer=f as |display|}}
          {{high-charts content=display.graphData chartOptions=display.chartOptions theme=display.theme}}
        {{/foosballer-display}}
      {{/if}}
    {{/each}}
  {{/foosballers-sorter}}

  {{#card.content class="p-r"}}
      {{#link-to 'foosballer' user.currentPlayer class="avatar-container d-ib p-r"}}
        <img src={{user.currentPlayer.profileImageURL}} class="avatar">
      {{/link-to}}

      <h3 class="p-a display-name">{{user.currentPlayer.displayName}}</h3>
      <div class="d-f p-r layout-wrap stats">
        {{#link-to 'foosballer' user.currentPlayer (query-params tab='games') class="fg-1 ta-c ho-accent pointer grey"}}
          <h5 class="mb-4">GAMES</h5>
          <h3 class="mt-0">{{user.stats.playerGames.length}}</h3>
        {{/link-to}}
        {{#link-to 'foosballer' user.currentPlayer (query-params tab='wins') class="fg-1 ta-c ho-accent pointer grey"}}
          <h5 class="mb-4">WINS</h5>
          <h3 class="mt-0">{{user.stats.gamesWon.length}}</h3>
        {{/link-to}}
        {{#link-to 'foosballer' user.currentPlayer (query-params tab='teams') class="fg-1 ta-c ho-accent pointer grey"}}
          <h5 class="mb-4">TEAMS</h5>
          <h3 class="mt-0">{{user.stats.playerTeams.length}}</h3>
        {{/link-to}}
      </div>
  {{/card.content}}
{{/paper-card}}
