{{#current-user foosballers=foosballers as |user|}}
  {{dialogs-wrapper
    currentUser=user.currentPlayer
    foosballer=selectedFoosballer
    save=(action 'saveFoosballer')
    cancel=(action 'cancelFoosballer')
  }}

  <div class="d-f fd-c flex-100 flex-xs-100 flex-sm-100">
    {{#paper-card as |card|}}
      {{#paper-toolbar as |toolbar|}}
        {{#toolbar.tools}}
          <h2>Admin</h2>
        {{/toolbar.tools}}
      {{/paper-toolbar}}
      {{#card.content class='o-a'}}
        <div class="bc-white teams-team mb-16">
          {{#link-to 'admin' (query-params section='players') class="tab"}}Players{{/link-to}}

          {{!--
          {{#if user.currentPlayer.isGlobalAdmin}}
            {{#link-to 'admin' (query-params section='leagues') class="tab"}}Leagues{{/link-to}}
          {{/if}}

          {{#link-to 'admin' (query-params section='seasons') class="tab"}}Seasons{{/link-to}}
          --}}
        </div>

        {{#if (eq section 'players')}}
          <div class="d-f ai-fs">
            {{#if user.currentPlayer.isGlobalAdmin}}
              {{#paper-select
                label='League'
                options=leagues
                selected=selectedLeague
                classNames='flex'
                onChange=(action (mut selectedLeague))
                as |league|
              }}
                {{league.name}}
              {{/paper-select}}
            {{/if}}
            <div class="flex"></div>
            {{#paper-button
              onClick=(action 'newFoosballer')
              primary=true
              raised=true}}
              New Player
            {{/paper-button}}
          </div>

          {{#each selectedLeague.foosballers as |foosballer|}}
            <div class="material-list-item pointer" {{action 'editFoosballer' foosballer}}>
              <div class="d-f fd-c jc-c">
                <div>{{foosballer.name}}</div>
              </div>
              <div class="fg-1"></div>
              {{#paper-button
                onClick=(pipe-action (toggle-action 'retired' foosballer) (action 'saveFoosballer' foosballer))
                bubbles=false
              }}
                {{#if foosballer.retired}}
                  Activate
                {{else}}
                  Retire
                {{/if}}
              {{/paper-button}}
              {{#paper-button
                iconButton=true
                title=(if foosballer.hasMinimumGames 'Unrank Player' 'Rank Player')
                onClick=(pipe-action (toggle-action 'hasMinimumGames' foosballer) (action 'saveFoosballer' foosballer))
                bubbles=false
              }}
                {{#if foosballer.hasMinimumGames}}
                  {{paper-icon 'arrow-drop-down'}}
                {{else}}
                  {{paper-icon 'arrow-drop-up'}}
                {{/if}}
              {{/paper-button}}
              {{#paper-button
                iconButton=true
                onClick=(action 'editFoosballer' foosballer)
                bubbles=false
              }}
                {{paper-icon 'edit'}}
              {{/paper-button}}
            </div>
          {{/each}}

        {{/if}}
      {{/card.content}}
    {{/paper-card}}
  </div>
{{/current-user}}
