{{#current-user foosballers=foosballers as |user|}}
  {{dialogs-wrapper
    currentUser=user.currentPlayer
    foosballer=selectedFoosballer
    season=selectedSeason
    league=editingLeague
    save=(action 'save')
    cancel=(action 'cancel')
    updateRange=(action 'updateRange')
  }}

  <div class="d-f fd-c flex-100 flex-xs-100 flex-sm-100">
    {{#paper-card as |card|}}
      {{#paper-toolbar as |toolbar|}}
        {{#toolbar.tools}}
          <h2>Admin</h2>
        {{/toolbar.tools}}
      {{/paper-toolbar}}
      {{#card.content class='o-a'}}
        <div class="bc-white teams-team mb-16">
          {{#link-to 'admin' (query-params section='players') class="tab"}}Players{{/link-to}}

          {{#if user.currentPlayer.isGlobalAdmin}}
            {{#link-to 'admin' (query-params section='leagues') class="tab"}}Leagues{{/link-to}}
          {{/if}}

          {{#link-to 'admin' (query-params section='seasons') class="tab"}}Seasons{{/link-to}}
        </div>

        {{#if (eq section 'players')}}
          <div class="d-f ai-fs">
            {{#if user.currentPlayer.isGlobalAdmin}}
              {{#paper-select
                label='League'
                options=leagues
                selected=selectedLeague
                classNames='flex'
                onChange=(action (mut selectedLeague))
                as |league|
              }}
                {{league.name}}
              {{/paper-select}}
            {{/if}}
            <div class="flex"></div>
            {{#paper-button
              onClick=(action 'newFoosballer')
              primary=true
              raised=true}}
              New Player
            {{/paper-button}}
          </div>

          {{#each selectedLeague.foosballers as |foosballer|}}
            {{partial 'foosballer/admin'}}
          {{/each}}

        {{else if (eq section 'leagues')}}
          {{#if user.currentPlayer.isGlobalAdmin}}
            <div class="d-f ai-fs">
              <div class="flex"></div>
              {{#paper-button
                onClick=(action 'newLeague')
                primary=true
                raised=true}}
                New League
              {{/paper-button}}
            </div>
            {{#each leagues as |league|}}
              {{partial 'league/admin'}}
            {{/each}}
          {{/if}}
        {{else if (eq section 'seasons')}}
          <div class="d-f ai-fs">
            {{#if user.currentPlayer.isGlobalAdmin}}
              {{#paper-select
                label='League'
                options=leagues
                selected=selectedLeague
                classNames='flex'
                onChange=(action (mut selectedLeague))
                as |league|
              }}
                {{league.name}}
              {{/paper-select}}
            {{/if}}
            <div class="flex"></div>
            {{#paper-button
              onClick=(action 'newSeason')
              primary=true
              raised=true}}
              New Season
            {{/paper-button}}
          </div>

          {{#each (sort-by 'endTime' selectedLeague.seasons) as |season|}}
            {{partial 'season/admin'}}
          {{/each}}
        {{/if}}
      {{/card.content}}
    {{/paper-card}}
  </div>
{{/current-user}}
