<span class="md-avatar">{{count}}</span>
<div class="md-list-item-text">
  <h3>
    {{game.winningTeam.player1.displayName}}
    {{game.winningTeam.player2.displayName}}
  </h3>
  {{#if shouldExpand}}
    <p>Black - {{game.winningTeamBlackWins}} Yellow - {{game.winningTeamYellowWins}}</p>
  {{/if}}
  <p class="ta-c">{{game.winningTeamWins}} - {{game.losingTeamWins}}</p>
  <p>
    {{game.losingTeam.player1.displayName}}
    {{game.losingTeam.player2.displayName}}
  </p>
  {{#if shouldExpand}}
    <p>Black - {{game.losingTeamBlackWins}} Yellow - {{game.losingTeamYellowWins}}</p>

    <div class="md-actions" layout="row" layout-align="end center">
      {{#if game.isNotFullyCreated}}
        {{#paper-button raised=true primary=true param=game action="editGame"}}Edit{{/paper-button}}
      {{/if}}
    </div>
  {{/if}}
</div>
