{{#if dialogsService.newGame}}
  {{#paper-dialog
    fullscreen=true
    onClose=(action 'toggleDialog' 'newGame' target=dialogsService)
    origin=dialogOrigin}}

    {{#paper-toolbar}}
      <div class='md-toolbar-tools'>
        <h2>New Game</h2>
        <span class='flex'></span>
        {{#paper-button iconButton=true onClick=(action 'toggleDialog' 'newGame' target=dialogsService)}}
          {{paper-icon icon="close"}}
        {{/paper-button}}
      </div>
    {{/paper-toolbar}}

    {{#new-game
      currentUser=currentUser
      gameAdded=(action 'toggleDialog' 'newGame' target=dialogsService)
      tagName=''
      as |nG|}}
      {{#paper-dialog-content}}
        <div style='width: 800px;'>
          {{#if nG.isScoringGame}}
            {{nG.scoring nG=nG}}
          {{else}}
            {{nG.playerSelection nG=nG}}
          {{/if}}
        </div>
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class="layout-row"}}
        <span class="flex"></span>
        {{nG.actions nG=nG}}
      {{/paper-dialog-actions}}

    {{/new-game}}

  {{/paper-dialog}}
{{/if}}
