<box class="bc-white p-16 ml-8 teams-team">
  <hbox justify="between">
    <div class="pr-8 rank">{{decoratedTeam.rank}}</div>
    <div class="name ellipsis pr-8">
      <a class="player-name {{if (eq user.currentPlayer.id decoratedTeam.team.player1.id) 'c-primary'}}" href={{href-to 'foosballer' decoratedTeam.team.player1}}>
        {{decoratedTeam.team.player1.displayName}}
      </a>
      <span class="p-4">-</span>
      <a class="player-name {{if (eq user.currentPlayer.id decoratedTeam.team.player2.id) 'c-primary'}}" href={{href-to 'foosballer' decoratedTeam.team.player2}}>
        {{decoratedTeam.team.player2.displayName}}
      </a>
    </div>
    <div class="w-l pr-16">{{decoratedTeam.wins}} : {{decoratedTeam.losses}}</div>
    <div class="ratio pr-16">{{decoratedTeam.winLossRatio}}</div>
    <div class="percentage">{{decoratedTeam.winPercentage}}%</div>
    {{!--
  {{#index-plus-one index=index as |rank|}}
    {{#paper-item param=decoratedTeam.team action="expandTeam" class="md-3-line"}}
      {{team-display decoratedTeam=decoratedTeam expandedId=expandedId rank=rank}}
    {{/paper-item}}
  {{/index-plus-one}}
  --}}
  </hbox>
</box>
