{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-sidenav-toggle as |toggle|}}
      {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon icon="menu"}}{{/paper-button}}
    {{/paper-sidenav-toggle}}
    <span class="md-breadcrumb-page">Team</span>
  </div>
{{/paper-toolbar}}
{{#paper-content class="md-padding"}}
  {{#paper-card}}
    {{#paper-card-content}}
      <h2>{{model.player1.displayName}} & {{model.player2.displayName}}</h2>
      <p>Wins - {{team.wins}}</p>
      <p>Black - {{team.winsBlack}} Yellow - {{team.winsYellow}}</p>
      <p>Losses - {{team.losses}}</p>
      <p>Black - {{team.lossesBlack}} Yellow - {{team.lossesYellow}}</p>
      <p>Winning Percentage - {{team.winPercentage}}%</p>
      <p>Win/Loss Ratio - {{team.winLossRatio}}</p>

    {{/paper-card-content}}
  {{/paper-card}}
{{/paper-content}}
