{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-sidenav-toggle as |toggle|}}
      {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon icon="menu"}}{{/paper-button}}
    {{/paper-sidenav-toggle}}
    <span class="md-breadcrumb-page">Team</span>
  </div>
{{/paper-toolbar}}
{{#paper-content class="md-padding"}}
  {{#paper-card}}
    {{#paper-card-content}}
      <h2>{{model.player1.displayName}} & {{model.player2.displayName}}</h2>
      <p>Wins - {{wins}}</p>
      <p>Black - {{winsBlack}} Yellow - {{winsYellow}}</p>
      <p>Losses - {{losses}}</p>
      <p>Black - {{lossesBlack}} Yellow - {{lossesYellow}}</p>
      <p>Winning Percentage - {{winPercentage}}%</p>
    {{/paper-card-content}}
  {{/paper-card}}
{{/paper-content}}
