<vbox md="4" class="p-8">
  {{#paper-card class="bc-white profile-card"}}
    <img src="http://miguelcobain.github.io/ember-paper/washedout-70b84b894d88b367d49d56a8cd808cca.png">
    {{#paper-card-content class="p-r"}}
      <div class="avatar-container d-ib p-r">
        <img src={{session.currentUser.profileImageURL}} class="avatar">
      </div>
      <h3 class="p-a display-name">{{session.currentUser.displayName}}</h3>
      <hbox class="stats" fill>
        <div class="fg-1 ta-c ho-accent pointer grey">
          <h5 class="mb-4">GAMES</h5>
          <h3 class="mt-0">400</h3>
        </div>
        <div class="fg-1 ta-c ho-accent pointer grey">
          <h5 class="mb-4">WINS</h5>
          <h3 class="mt-0">284</h3>
        </div>
        <div class="fg-1 ta-c ho-accent pointer grey">
          <h5 class="mb-4">TEAMS</h5>
          <h3 class="mt-0">34</h3>
        </div>
      </hbox>
    {{/paper-card-content}}
  {{/paper-card}}

  {{#paper-card class="bc-white"}}
    {{#paper-card-content}}
      <div class="footer-links">
        <a {{action 'logout'}}>Logout</a>
        <a href={{href-to 'about'}}>About</a>
        <a href={{href-to 'league-rules'}}>League Rules</a>
      </div>
    {{/paper-card-content}}
  {{/paper-card}}
</vbox>
<box md="8" class="p-8 o-a">
  {{#each sortedGames as |game index|}}
    <box class="bc-white p-8 home-game">
      <hbox justify="between" class="home-game-hbox">
        <div class="fs-s pr-8 index">{{plus-one index}}</div>
        <div class="c-primary d-ib fs-m winners">
          {{game.winningTeam.player1.displayName}}
          {{game.winningTeam.player2.displayName}}
        </div>
        <div class="ta-c d-ib dash">{{game.winningTeamWins}} - {{game.losingTeamWins}}</div>
        <div class="d-ib fs-m losers">
          {{game.losingTeam.player1.displayName}}
          {{game.losingTeam.player2.displayName}}
        </div>
        <small class="d-ib time ta-r"><i>{{moment-format game.time "MMM. Do @ h:mm a"}}</i></small>
      </hbox>
    </box>
  {{/each}}

  {{!--
    {{#index-plus-one index=index numItems=sortedGames.length as |rank count|}}
      {{#paper-item param=game action="expandGame"}}
        {{game-display game=game expandedId=expandedId count=count}}
      {{/paper-item}}
    {{/index-plus-one}}
    <small class="pr-16 d-b mb-8 ta-r"><i>{{moment-format game.time "MMM. Do, YYYY @ h:mm a"}}</i></small>
    {{paper-divider class="theme"}}
  {{/each}}
  --}}
</box>
