<vbox md="4" class="p-8">
  {{partial 'foosballer/profile-card'}}

  {{partial 'trends'}}

  {{partial 'footer-links'}}
</vbox>
<box md="8" class="p-8">
  <box class="bc-white p-8 home-game">
    <h3>Games</h3>
  </box>
  <div class="o-a">
    {{#each sortedGames as |game index|}}
    {{#current-user foosballers=foosballers as |currentPlayer|}}
      <box class="bc-white p-8 home-game">
        <hbox justify="between" class="home-game-hbox">
          <div class="fs-s pr-8 index">{{dec index sortedGames.length}}</div>
          <div class="d-ib fs-m winners">
            <a class="player-name {{if (eq currentPlayer.id game.winningTeam.player1.id) 'c-primary'}}" href={{href-to 'foosballer' game.winningTeam.player1}}>
              {{game.winningTeam.player1.displayName}}
            </a>-
            <a class="player-name {{if (eq currentPlayer.id game.winningTeam.player2.id) 'c-primary'}}" href={{href-to 'foosballer' game.winningTeam.player2}}>
              {{game.winningTeam.player2.displayName}}
            </a>
          </div>
          <div class="ta-c d-ib dash">{{game.winningTeamWins}} - {{game.losingTeamWins}}</div>
          <div class="d-ib fs-m losers">
            <a class="player-name {{if (eq currentPlayer.id game.losingTeam.player1.id) 'c-primary'}}" href={{href-to 'foosballer' game.losingTeam.player1}}>
              {{game.losingTeam.player1.displayName}}
            </a>-
            <a class="player-name {{if (eq currentPlayer.id game.losingTeam.player2.id) 'c-primary'}}" href={{href-to 'foosballer' game.losingTeam.player2}}>
              {{game.losingTeam.player2.displayName}}
            </a>
          </div>
          <small class="d-ib time ta-r"><i>{{moment-format game.time "MMM. Do @ h:mm a"}}</i></small>
        </hbox>
      </box>
    {{/current-user}}
    {{/each}}
  </div>

  {{!--
    {{#index-plus-one index=index numItems=sortedGames.length as |rank count|}}
      {{#paper-item param=game action="expandGame"}}
        {{game-display game=game expandedId=expandedId count=count}}
      {{/paper-item}}
    {{/index-plus-one}}
    <small class="pr-16 d-b mb-8 ta-r"><i>{{moment-format game.time "MMM. Do, YYYY @ h:mm a"}}</i></small>
    {{paper-divider class="theme"}}
  {{/each}}
  --}}
</box>
