{{#current-user foosballers=foosballers as |user|}}
  {{dialogs-wrapper
    currentUser=user.currentPlayer
  }}

  <vbox md="4" class="p-8">
    {{partial 'foosballer/profile-card'}}

    {{partial 'trends'}}

    {{partial 'footer-links'}}
  </vbox>
  <box md="8" class="p-8">
    <hbox class="bc-white p-8 home-game">
      <h3>Games</h3>

      {{#unless addGame}}
        {{#paper-button raised=true primary=true onClick=(action 'addGame')}}Add Game{{/paper-button}}
      {{/unless}}
    </hbox>

    {{#if addGame}}
      {{new-game gameAdded=(action 'addGame') currentUser=user.currentPlayer}}
    {{/if}}
    <div class="o-a">
      {{#each sortedGames as |game index|}}
        {{partial 'game'}}
      {{/each}}
    </div>

  </box>
{{/current-user}}
