<div class="bs-bb w-100 minh-100vh">
  <div class="d-f jc-c main-nav">
    <div class="d-f fw-nw fg-1 center-content">
      <div class="left-nav fb-33 fg-1 fs-0">
        {{#if session.isAuthenticated}}
          {{#link-to 'home' class="tab"}}
            {{#if media.isMobile}}
              H
            {{else}}
              Home
            {{/if}}
          {{/link-to}}
          {{#link-to 'teams' class="tab"}}
            {{#if media.isMobile}}
              T
            {{else}}
              Teams
            {{/if}}
          {{/link-to}}
          {{#link-to 'foosballers' class="tab"}}
            {{#if media.isMobile}}
              P
            {{else}}
              Players
            {{/if}}
          {{/link-to}}
        {{else}}
          {{#link-to 'login' class="tab"}}Login{{/link-to}}
        {{/if}}
      </div>
      <div class="middle-nav mw-33 d-f jc-c fg-1 fs-1">
        <div class="icon"></div>
      </div>
      <div class="right-nav fb-33 d-f jc-fe fg-1 fs-0">
        {{#if session.isAuthenticated}}
          {{#unless (or
            (eq currentRouteName 'about')
            (eq currentRouteName 'league-rules')
            (eq currentRouteName 'loading')
          )}}
            {{#paper-button
              primary=true
              raised=true
              iconButton=(eq media.isMobile true)
              onClick=(action 'toggleDialog' 'newGame' target=dialogsService)}}
              {{#if media.isMobile}}
                {{paper-icon "games"}}
              {{else}}
                Game
              {{/if}}
            {{/paper-button}}
          {{/unless}}

          {{#current-user foosballers=foosballers as |user|}}
            {{#link-to 'foosballer' user.currentPlayer class="img-container"}}
              <img src={{user.currentPlayer.profileImageURL}}>
            {{/link-to}}
          {{/current-user}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="d-f jc-c">
    <div class="layout-row jc-c fw-w center-content fh-nav">
      {{outlet}}
    </div>
  </div>
  {{ember-notify messageStyle='bootstrap'}}
</div>
