{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-sidenav-toggle as |toggle|}}
      {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon icon="menu"}}{{/paper-button}}
    {{/paper-sidenav-toggle}}
    <span class="md-breadcrumb-page">Summary</span>
  </div>
{{/paper-toolbar}}

{{#paper-content class="md-padding bc-purple"}}
  {{#paper-button primary=true raised=true action="newGame"}}New Game{{/paper-button}}
  <span class="black bold fs-24 d-ib p-r ml-8 t-4">{{wins.black}}</span>
  <span class="yellow bold fs-24 d-ib p-r ml-8 t-4">{{wins.yellow}}</span>

  {{#paper-item}}
    <div class="md-list-item-text">
      <h4>Black and Yellow Wins</h4>
      {{games/black-yellow-wins games=model width=280}}
    </div>
  {{/paper-item}}

  {{#paper-item}}
    <div class="md-list-item-text">
      <h4>Black and Yellow Wins Accumulated</h4>
      {{games/black-yellow-wins games=model accumulated=true width=280}}
    </div>
  {{/paper-item}}
  <div class="md-padding black">
    <p>This month's theme is brought to you for awareness of Pancreatic cancer, Epilepsy, and Alzheimer's disease.</p>
    <p>Please consider making a reasonable donation to any or all of these advocacy groups:</p>
    <p><a href="https://www.pancan.org/">Pancreatic Cancer Action Network</a></p>
    <p><a href="http://www.alz.org/">Alzheimer's Association</a></p>
    <p><a href="http://www.epilepsy.com/">Epilepsy Foundation</a></p>
  </div>
{{/paper-content}}
