<p>{{decoratedFoosballer.foosballer.name}}</p>
<p class="metrics-container">
  <span>{{decoratedFoosballer.wins}} : {{decoratedFoosballer.losses}}</span>
  <span>({{decoratedFoosballer.winLossRatio}})</span>
  <span>{{decoratedFoosballer.winPercentage}}%</span>

</p>
