<vbox md="4" class="p-8">
  {{partial 'foosballer/profile-card'}}

  {{partial 'trends'}}

  {{partial 'footer-links'}}
</vbox>

<vbox md="8" class="p-8">
  <div class="bc-white mr-8 ml-8">
    <hbox justify="start">
      {{#link-to 'foosballer' (query-params tab='games') class="tab"}}Games{{/link-to}}
      {{#link-to 'foosballer' (query-params tab='wins') class="tab"}}Wins{{/link-to}}
      {{#link-to 'foosballer' (query-params tab='teams') class="tab"}}Teams{{/link-to}}
    </hbox>
  </div>

  <box class="bc-white pl-16 pr-16 ml-8 mr-8 teams-team">
    <hbox justify="between" class="pt-16 {{if isAsc 'sort-asc' 'sort-desc'}}">
      <div onclick={{action 'sortBy' 'rank'}} class="pr-8 rank pointer sortable {{if isSortRank 'sorted'}}">Rank</div>
      {{#if (eq tab 'teams')}}
        <div class="name">Name</div>
      {{else}}
        <div onclick={{action 'sortBy' 'foosballer.name'}} class="name pointer sortable {{if isSortName 'sorted'}}">Name</div>
      {{/if}}
      <div onclick={{action 'sortBy' 'wins'}} class="w-l pr-16 pointer sortable {{if isSortWins 'sorted'}}">Wins : Losses</div>
      <div onclick={{action 'sortBy' 'winLossRatio'}} class="ratio pr-16 pointer sortable {{if isSortWinLossRatio 'sorted'}}">Win/Loss Ratio</div>
      <div onclick={{action 'sortBy' 'winPercentage'}} class="percentage pointer sortable {{if isSortWinPercentage 'sorted'}}">Win %</div>
    </hbox>
  </box>

  <div class="o-a">
    {{#if (eq tab 'games')}}

    {{else if (eq tab 'wins')}}

    {{else if (eq tab 'teams')}}
      {{#teams-sorter
        tagName=""
        teams=teams
        sortAscending=sortAscending
        sortBy=sortBy
        as |sortedDecoratedTeams|}}
        <div class="o-a">
          {{#current-user foosballers=foosballers as |currentPlayer|}}
            {{#each sortedDecoratedTeams as |decoratedTeam index|}}
              {{#if (or (eq currentPlayer.id decoratedTeam.team.player1.id) (eq currentPlayer.id decoratedTeam.team.player2.id))}}
                {{partial 'team'}}
              {{/if}}
            {{/each}}
          {{/current-user}}
        </div>
      {{/teams-sorter}}
    {{/if}}
  </div>
</vbox>
