{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-sidenav-toggle as |toggle|}}
      {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon icon="menu"}}{{/paper-button}}
    {{/paper-sidenav-toggle}}
    <span class="md-breadcrumb-page">Foosballer</span>
  </div>
{{/paper-toolbar}}
{{#paper-content class="md-padding"}}
  {{#paper-card}}
    {{#paper-card-content}}
      <h2>{{model.foosballer.displayName}}</h2>
      <p>Wins - {{foosballer.wins}}</p>
      <p>Black - {{foosballer.winsBlack}} Yellow - {{foosballer.winsYellow}}</p>
      <p>Losses - {{foosballer.losses}}</p>
      <p>Black - {{foosballer.lossesBlack}} Yellow - {{foosballer.lossesYellow}}</p>
      <p>Win/Loss Ratio - {{foosballer.winLossRatio}}%</p>
      <p>Winning Percentage - {{foosballer.winPercentage}}%</p>
    {{/paper-card-content}}
  {{/paper-card}}
{{/paper-content}}
