<p>{{decoratedTeam.team.player1.name}} - {{decoratedTeam.team.player2.name}}</p>
<p class="metrics-container">
  <span>{{decoratedTeam.winPercentage}}%</span>
  <span>W - {{decoratedTeam.wins}}</span>
  <span>L - {{decoratedTeam.losses}}</span>
</p>
