{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-sidenav-toggle as |toggle|}}
      {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon icon="menu"}}{{/paper-button}}
    {{/paper-sidenav-toggle}}
    <span class="md-breadcrumb-page">Games</span>
  </div>
{{/paper-toolbar}}
{{#paper-content class="md-padding"}}
  {{#paper-content class="md-whiteframe-z1 list-demo"}}
    {{#paper-list}}


      {{#each model as |game|}}
        {{#paper-item}}
          {{#if game.team1IsWinner}}
            <p><strong>{{game.team1.player1.displayName}} - {{game.team1.player2.displayName}}</strong></p>
            <p>{{game.team2.player1.displayName}} - {{game.team2.player2.displayName}}</p>
          {{else}}
            <p>{{game.team1.player1.displayName}} - {{game.team1.player2.displayName}}</p>
            <p><strong>{{game.team2.player1.displayName}} - {{game.team2.player2.displayName}}</strong></p>
          {{/if}}
        {{/paper-item}}
      {{/each}}


    {{/paper-list}}
  {{/paper-content}}
{{/paper-content}}
