{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-sidenav-toggle as |toggle|}}
      {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon icon="menu"}}{{/paper-button}}
    {{/paper-sidenav-toggle}}
    <span class="md-breadcrumb-page">Games</span>
  </div>
{{/paper-toolbar}}
{{#paper-content class="md-padding"}}
  {{#paper-content class="md-whiteframe-z1 list-demo"}}
    {{#paper-list}}

      {{#each model as |game|}}
        {{#paper-item param=game action="goToGame"}}
          <p class="ta-c">
            <strong>
              {{game.winningTeam.player1.displayName}}
              {{game.winningTeam.player2.displayName}}
            </strong>
          </p>
          <p class="ta-c">VS</p>
          <p class="ta-c">
            {{game.losingTeam.player1.displayName}}
            {{game.losingTeam.player2.displayName}}
          </p>
        {{/paper-item}}
        {{paper-divider}}
      {{/each}}

    {{/paper-list}}
  {{/paper-content}}
{{/paper-content}}
