{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-sidenav-toggle as |toggle|}}
      {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon icon="menu"}}{{/paper-button}}
    {{/paper-sidenav-toggle}}
    <span class="md-breadcrumb-page">Games</span>
  </div>
{{/paper-toolbar}}
{{#paper-content class="md-padding theme"}}
  {{#paper-button primary=true raised=true action="newGame"}}New Game{{/paper-button}}

  {{#if calculation.isPending}}
    {{paper-progress-circular}}
  {{else}}
    {{#if calculation.isRejected}}
      <p>shit</p>
    {{else}}
      {{log calculation}}
      {{calculation.content}}
    {{/if}}
  {{/if}}

  {{#paper-content class="md-whiteframe-z1 list-demo theme"}}
    {{#paper-list}}

      {{#each sortedGames as |game index|}}
        {{#index-plus-one index=index numItems=sortedGames.length as |rank count|}}
          {{#paper-item param=game action="expandGame"}}
            {{game-display game=game expandedId=expandedId count=count}}
          {{/paper-item}}
        {{/index-plus-one}}
        <small class="pr-16 d-b mb-8 ta-r"><i>{{moment-format game.time "MMM. Do, YYYY @ h:mm a"}}</i></small>
        {{paper-divider class="theme"}}
      {{/each}}

    {{/paper-list}}
  {{/paper-content}}
{{/paper-content}}
