<box class="bc-white p-8 home-game">
  <hbox justify="between" class="home-game-hbox">
    <div class="fs-s pr-8 index">{{dec index sortedGames.length}}</div>
    <div class="d-ib fs-m winners">
      <a class="player-name {{if (eq user.currentPlayer.id game.winningTeam.player1.id) 'c-primary'}}" href={{href-to 'foosballer' game.winningTeam.player1}}>
        {{game.winningTeam.player1.displayName}}
      </a>
      <span class="p-4">-</span>
      <a class="player-name {{if (eq user.currentPlayer.id game.winningTeam.player2.id) 'c-primary'}}" href={{href-to 'foosballer' game.winningTeam.player2}}>
        {{game.winningTeam.player2.displayName}}
      </a>
    </div>
    <div class="ta-c d-ib dash">{{game.winningTeamWins}} - {{game.losingTeamWins}}</div>
    <div class="d-ib fs-m losers">
      <a class="player-name {{if (eq user.currentPlayer.id game.losingTeam.player1.id) 'c-primary'}}" href={{href-to 'foosballer' game.losingTeam.player1}}>
        {{game.losingTeam.player1.displayName}}
      </a>
      <span class="p-4">-</span>
      <a class="player-name {{if (eq user.currentPlayer.id game.losingTeam.player2.id) 'c-primary'}}" href={{href-to 'foosballer' game.losingTeam.player2}}>
        {{game.losingTeam.player2.displayName}}
      </a>
    </div>
    <small class="d-ib time ta-r"><i>{{moment-format game.time "MMM. Do @ h:mm a"}}</i></small>
  </hbox>
</box>
